
.App {
  text-align: center;
  cursor: url(https://ani.cursors-4u.net/cursors/cur-12/cur1080.cur),auto!important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  background:radial-gradient(transparent 45%, #0ebbfa11, transparent 60% );
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 9s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: darkkhaki;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    transform: rotate3d(1, 0, 1, 360deg);
  }
}

button:active {
  cursor: grabbing;
}

/* get class button */
button.get {
  background-color: seagreen;
  font: 400 18px system-ui;
  padding: 1em;
  cursor:pointer;
  color: lavender;
  text-shadow: 1px 2px grey;
}
button.get:hover {
  background-color: chartreuse;
  color: blueviolet;
  font-weight:bolder;
  text-shadow: none;
}

/* default input box */
input {
  background-color: lightgoldenrodyellow;
  color: darkviolet;
  margin-bottom: 1em;
  font: 400 16px system-ui;
  inline-size: 23rem;
  padding-left: .2em;
}
/* color change  */
input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: crimson;
  opacity: 1; /* Firefox */
}

h1 {
  color:darkolivegreen;
}

.Card {
  margin: 5px;
}

.Card:hover {
  opacity: 70%;
}

a:hover {
  cursor: url(https://ani.cursors-4u.net/cursors/cur-12/cur1080.cur),auto!important;
}

div.icons {
  text-align: left;
  color: honeydew;
  margin-bottom: 5px;
}